# application.properties.example
# Copy this file to application.properties and fill in your own values.

# H2 DB config
spring.datasource.url=jdbc:h2:mem:exchange_db
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# H2 console
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console

# Swagger / OpenAPI
springdoc.api-docs.enabled=true
springdoc.swagger-ui.path=/swagger-ui.html

# Fixer.io (replace with your own key & URL if different)
fixer.api.key=${FIXER_API_KEY}
fixer.api.url=https://data.fixer.io/api

# Cache interceptor logging
logging.level.com.minelsaygisever.fxtrackr.client.FixerRestClient=INFO
logging.level.org.springframework.cache=DEBUG